<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .my-form{
            position: fixed;
            bottom: 24px;
            right: 80px;
            left: 80px;
            width: calc(100% - 160px);

        }



    </style>
    
    </head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Chat Messengee</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>
    </nav>

    <div class="container">
        {% for msg in msgs %}
            <div class="d-flex {% if name == msg.user %} justify-content-end {% else %} justify-content-start {% endif %} mt-3">
                <div class="card rounded-top rounded-left">
                    <div class="card-header">
                        {{msg.user}}:
                    </div>
                    <div class="card-body">
                        <div class=" mb-1">
                            <p>{{msg.content}}</p>
                        </div>
                    </div>
                    <div class="card-footer text-secondary" style="font-size: x-small;">
                        {{msg.created_at.strftime('%T%n%D')}}
                    </div>
                </div>
            </div>
        {% endfor %}
        


            



        <form class="input-group mb-3 my-form" action="" method="POST">
            <input type="text" name = 'content' class="form-control" placeholder="Bitte gebe deine Nachricht an" >
            <button class="btn btn-outline-secondary" type="submit" >Senden</button>
        </form>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
</body>

</html>